.connexion-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Bouton Retour */
.back-button {
    position: absolute;
    top: 2rem;
    left: 10rem;
}

.back-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background-color: black;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

/* Logo */
.footer-logo {
    max-width: 200px;
    margin-bottom: 20px;
}

/* Onglets */
.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tabs button {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;
}

.tabs button.active {
    color: red;
    border-bottom: 2px solid red;
}

/* Conteneur des formulaires */
.form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
    .back-button {
        left: 2rem;
    }

    .tabs {
        flex-direction: row;
        justify-content: center;
    }
}
