.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    position: relative;
  }
  
  .logo-short {
    height: 50px;
  }
  
  .ul-onglet {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-family: "Lacquer", serif;
    font-weight: 400;
    font-style: normal;
  }

  .ul-onglet li {
    color: black;
  }
  
  .ul-onglet a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .ul-onglet a:hover {
    color: red;
    text-decoration: underline;
  }
  
  /* Icône menu burger */
  .burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Icône de recherche */
  .search-icon {
    padding: 1rem;
    cursor: pointer;
  }
  
  /* Barre de recherche */
  .search-bar {
    position: absolute;
    z-index: 1000;
    top: -50px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: top 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  
  .search-bar.open {
    top: 90px;
    opacity: 1;
    visibility: visible;
    height: 40vh;
  }
  
  .search-bar input {
    width: 80%;
    padding: 1rem;
    border: 1px solid #ddd;
    border: none;
    border-bottom: .1rem solid lightgray;
  }
  
  .close-search {
    background: none;
    border: none;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
  }

  .icon-network {
    position: fixed;
    right: 4rem;
    bottom: 30rem;
  }

  .icons, .icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: white;
    color: black;
  }

  /* RESPONSIVE */
  @media screen and (max-width: 768px) {
    .burger-menu {
      display: block;
    }
  
    .ul-onglet {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background: white;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      display: none;
      transition: all 0.3s ease-in-out;
    }
  
    .ul-onglet.open {
      display: flex;
      position: absolute;
      z-index: 2000;
    }
  
    .ul-onglet li {
      margin: 10px 0;
    }

    .icon-network {
        position: fixed;
        z-index: 2000;
        right: .5rem;
        bottom: 5rem;
    }

    .icons, .icons a{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;
        margin: 1rem;
        height: 30px;
        width: 30px;
        border-radius: 100%;
        background-color: white;
        color: black;
      }
  }
