/* ============================= */
/* 🔹 RESET CSS MODERNISÉ        */
/* ============================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  font-weight: 400;
  background-color: #2B2B2B;
  color: rgba(255, 255, 255, 0.87);
  transition: background-color 0.3s, color 0.3s;
}

.logo-short{
  width: 50px;
  height: 100px;
}

/* ============================= */
/* 🔹 TYPOGRAPHIE & ESPACEMENTS  */
/* ============================= */
h1, h2{
  font-family: "Fjalla One", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h3, h4, h5, h6{
  font-weight: 600;
  margin-bottom: 0.5em;
  font-family: "Fjalla One", serif;
  /* font-family: "Lacquer", serif; */
  font-weight: 400;
  font-style: normal;
}

p {
  margin-bottom: 1em;
}

ul , li, a{
  list-style-type: none;
  text-decoration: none;
}

hr {
  height: 0.2px; /* Épaisseur de la ligne */
  border: none; /* Supprime le style par défaut */
  background-color: rgb(80, 80, 80); /* Couleur de la ligne */
  margin: 10px 0; /* Espacement vertical */
}

@media screen and (max-width: 768px) {
  .logo-short {
    width: 50px;
    height: 50px;
  }
}


